body {
  margin: 0;
  padding: 0;
  color: #e2e2e2;
  font-size: 12px;
  line-height: 1.6em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #313030;
  background-image: url(images/body.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

a,
a:link,
a:visited {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: normal;
}
h1 {
  font-size: 36px;
  margin: 0 0 30px;
  padding: 5px 0;
}
h2 {
  font-size: 24px;
  margin: 0 0 25px;
  padding: 5px 0;
}
h3 {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0;
}
h4 {
  font-size: 16px;
  margin: 0 0 15px;
  padding: 0;
}
h5 {
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
}
h6 {
  font-size: 12px;
  margin: 0 0 5px;
  padding: 0;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
}

p a,
p a:link,
p a:visited {
  color: #00ccff;
  font-weight: normal;
  text-decoration: none;
}
p a:hover {
  color: #cc66ff;
  text-decoration: none;
}

.clear {
  clear: left;
}
.home__template-list {
  font-size: 16px;
  margin: 10px 0 10px 15px;
  padding: 0;
  list-style: none;
}
.home__template-list li {
  color: #fff;
  margin: 0 0 7px 0;
  padding: 0 0 0 20px;
  background: url(images/list.png) no-repeat scroll 0 6px;
}
.home__template-list li a {
  color: rgb(209, 217, 255);
  font-weight: normal;
  text-decoration: none;
  transition: 0.5s;
}
.home__template-list li a:hover {
  padding-left: 16px;
  color: #3157ff;
}
a.header {
  display: block;
  font-weight: 700;
}

.half {
  width: 330px;
}

.h20 {
  height: 20px;
}
.h40 {
  height: 40px;
}

img {
  margin: 0;
  padding: 0;
  border: none;
}
.content__img {
  background: #525252;
  padding: 4px;
  border: 1px solid #282828;
}
.img-mb {
  display: block;
  margin-bottom: 15px;
}
.content__img-fl {
  float: left;
  margin: 3px 15px 5px 0;
}
.left {
  float: left;
}
.right {
  float: right;
}

#header__wrapper {
  width: 100%;
}

#header__block {
  width: 800px;
  margin: 0 auto;
  padding: 35px 20px 40px;
  background: url(images/header-bg.png) no-repeat center;
}

#main__wrapper {
  width: 800px;
  height: 480px;
  margin: 0 auto;
  padding: 9px;
  background: url(images/content_bg.png) no-repeat;
}

#main__block {
  width: 800px;
  height: 480px;
  overflow: hidden;
}

#footer__wrapper {
  width: 100%;
  background: url(images/footer__block.png) center top no-repeat;
}

#footer__block {
  width: 780px;
  margin: 0 auto;
  padding: 20px 20px;
  color: #999999;
  text-align: center;
}

#footer__block a {
  color: #999999;
}

#header__block__title {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
#header__block__title a {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}

#content {
  overflow: hidden;
  width: 7000px;
  position: relative;
  height: 480px;
  background: #3c3b3b;
}

.section {
  position: relative;
  float: left;
  width: 800px;
  height: 480px;
  margin-right: 20px;
  background: #3c3b3b;
}

.section__content {
  padding: 40px;
  width: 720px;
  height: 400px;
}

.section a.home-btn {
  position: absolute;
  top: 20px;
  right: -1px;
  width: 52px;
  height: 45px;
  display: block;
  background: url(images/home_btn.png);
  text-indent: -10000px;
}

.section a.page-nav {
  position: absolute;
  display: block;
  width: 77px;
  height: 27px;
  line-height: 27px;
  font-weight: 700;
  font-size: 12px;
  bottom: 20px;
  text-align: center;
  background: #000;
  border: #000 solid 5px;
  transition: 0.5s;
}
.section a.page-nav:hover {
  background: #ccc;
  color: #000;
}

.section a.previous {
  left: 0;
  border-radius: 0 30px 10px 0;
}
.section a.previous:hover {
  padding-left: 10px;
}

.section a.next {
  right: 0;
  border-radius: 30px 0 0 10px;
}
.section a.next:hover {
  padding-right: 10px;
}

.home__box {
  width: 400px;
  height: 480px;
}

.row1 {
  width: 400px;
  height: 120px;
}
.row2 {
  width: 400px;
  height: 240px;
}

.box1 {
  background: #9168b3 url(images/numbers_01.png) scroll 20px 25px no-repeat;
}
.box1:hover {
  background-color: #7c549d;
}

.box2 {
  background: #a8b368 url(images/numbers_02.png) scroll 20px 25px no-repeat;
}
.box2:hover {
  background-color: #909b51;
}

.box3 {
  background: #b36c68 url(images/numbers_03.png) scroll 20px 25px no-repeat;
}
.box3:hover {
  background-color: #9d5652;
}

.box4 {
  background: #636363 url(images/numbers_04.png) scroll 20px 25px no-repeat;
}
.box4:hover {
  background-color: #4b4b4b;
}

.box5 {
  background: #413959 url(images/twitter.png) scroll 18px 15px no-repeat;
}
.box5:hover {
  background-color: #302945;
}

.box6 {
  background: #3c3b3b;
}

.home__box .home__box-block {
  padding: 25px 15px 15px 140px;
}

#content .home__box h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

#home__template {
  position: relative;
}

#mini__contact__form {
  padding: 15px;
  width: 370px;
}

#mini__contact__form .contact__form__input {
  display: block;
  margin-left: 5px;
  float: left;
  width: 78px;
  padding: 2px;
  height: 18px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999999;
  border: 1px solid #525252;
  background: #292929;
  margin-bottom: 5px;
}

#mini__contact__form textarea {
  clear: both;
  width: 160px;
  height: 50px;
  padding: 2px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999999;
  border: 1px solid #525252;
  background: #292929;
  margin-bottom: 10px;
}

#mini__contact__form .contact__form__submit {
  display: block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  background: #15171d;
  color: #999999;
  cursor: pointer;
  border: 1px solid #30333c;
  padding: 4px 10px;
  margin-right: 8px;
}

#mini__contact__form .col_half {
  width: 185px;
}

/* #social__links {} */

#social__links li {
  width: auto;
  height: auto;
  padding: 0;
  background: none;
}
#social__links li a {
  display: block;
  float: left;
  width: 100px;
  height: 48px;
  line-height: 48px;
  padding: 5px 0 5px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  background-position: left;
  background-repeat: no-repeat;
  transition: 0.3s;
}
#social__links li a:hover {
  color: #aaa;
}

#social__links li a.facebook {
  background-image: url(images/facebook.png);
}
#social__links li a.instagram {
  background-image: url(images/instagram.png);
}
#social__links li a.telegram {
  background-image: url(images/telegram.png);
}
#social__links li a.gitHub {
  background-image: url(images/gitHub.png);
}
#social__links li a.gmail {
  background-image: url(images/gmail.png);
}
#social__links li a.youtube {
  background-image: url(images/youtube.png);
}

#contact__form {
  padding: 0;
  width: 330px;
}

#contact__form form {
  margin: 0px;
  padding: 0px;
}

#contact__form form input {
  width: 150px;
  padding: 4px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999999;
  border: 1px solid #525252;
  background: #292929;
  margin-bottom: 10px;
}
#contact__form form input:hover {
  border: 1px solid #3157ff;
}

#contact__form form label {
  display: block;
  font-size: 11px;
}

#contact__form form textarea {
  clear: both;
  width: 320px;
  height: 120px;
  resize: none;
  padding: 4px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999999;
  border: 1px solid #525252;
  background: #292929;
  margin-bottom: 10px;
}
#contact__form form textarea:hover {
  border: 1px solid #3157ff;
}

#contact__form form .contact__form__submit {
  font-size: 11px;
  font-weight: bold;
  background: #15171d;
  color: #999999;
  cursor: pointer;
  border: 1px solid #30333c;
  padding: 5px 10px;
  margin: 0px;
}
#contact__form form .contact__form__submit:hover {
  background: #000;
  color: #fff;
  border: 1px solid #525252;
}